.box {
    background-color: #F5F5F5;
}

.box .Porche {
    transition: transform 0.3s;
}

.box .Porche:hover {
    transform: scale(1.05);
}

.box .Cooper {
    transition: transform 0.3s;
}

.box .Cooper:hover {
    transform: scale(1.05);
}

.box .Supra {
    transition: transform 0.3s;
}

.box .Supra:hover {
    transform: scale(1.05);
}